/*homepage taustavärv: class = "blue-grey lighten-5" kood: #eceff1 (muudetav home.php failis)
header: #2E2633
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eceff1;
}

main {
    flex: 1 0 auto;
    align-items: center;
    background-color: #eceff1;

}
nav {
    background-color: #2E2633;
}
a.brand-logo {
    margin-left: 2em;
    color: #ffffff;
}

nav ul li a {
    transition: 1s;
    color: #FFFFFF;
}
nav ul li:hover a{
    background-color: #514656;
    padding-bottom: 0.0em;
}

nav ul a:hover {
    color: #ffffff;
}

nav ul li.active a {
    background-color: #FFFFFF;
    padding-bottom: 0.0em;
    color: #2E2633;
}
.headerLink {
    background-color: #99173C;
}

#upper-footer {
    background-color: #1f1623;
}
footer.page-footer {
    padding-top: 10px;
}

footer.page-footer .footer-copyright {
    min-height: 40px;
    background-color: #0F0A12;

}
footer h5{
    color: #eceff1;
}
footer a {
    color: #eceff1;
}
footer p {
    color: #eceff1;
}
.pealkiri {
    text-align: center;
}

.btn {
    margin-top: 1em;
    color:hsl(79, 100%, 100%);
    background-color: #99173C;
    border-radius: 4px;
    font-size: 1.5rem;
}
.btn:hover {
    background-color:#2E2633;
}
.pealkiri h3 {
    margin-top: 3em;
    text-shadow:2px 2px 1px rgba(0, 0, 0, 0.3);
    font-weight: 400;
}
.pealkiri h4 {
    text-align: center;
}

.loginForm, .signupForm {
    text-align: center;
    margin: auto;
    width: 300px;
}
.loginForm input, .signupForm input {
    margin-bottom: 15px;
    padding: 5px 10px;
}
.button {
    background-color: #99173C;
    border-radius: 4px;
}
.button:hover {
    background-color: #2E2633;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus{
    border-bottom: 1px solid #2E2633;
    box-shadow: 0 1px 0 0 #2E2633;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=pa]:focus + label{
    color: #000;
}

#forgot_password h5{
    float: right;
    color: #99173C;
    font-size: medium;
}
#facebook_button {
    background-color: #0D47A1;
}
strong {
    font-weight: 500;
    color: #FFFFFF;
}

/*checkboxi värvid*/

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #99173C;
    background-color: #99173C;
    z-index: 0;
}
label {
    color: black;
}