body {
    background-color: #EFFFCD;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    align-items: center;
}

nav {
    background-color: #2E2633;
}
a.brand-logo {
    margin-left: 2em;
    color: #EFFFCD;
}

nav ul li a {
    transition: 1s;
    color: #EFFFCD;
}
nav ul li:hover a{
    background-color: #EFFFCD;
    padding-bottom: 0.0em;
}
nav ul a:hover {
    color: #2E2633;
}
nav ul li.active a {
    background-color: #EFFFCD;
    padding-bottom: 0.0em;
    color: #2E2633;
}
.headerLink {
    background-color: #99173C;
}

#upper-footer {
   background-color: #555152; 
}
footer.page-footer .footer-copyright {
    background-color: #2E2633;

}
footer h5{
    color: #DCE9BE;
}
footer a {
    color: #EFFFCD;
}
footer p {
    color: #EFFFCD;
}
.pealkiri {
    text-align: center;
}

.btn {
    margin-top: 1em;
    color:hsl(79, 100%, 100%);
    background-color: #99173C;
    border-radius: 4px;
    font-size: 2em;
}
.btn:hover {
    background-color: #2E2633;
}
.pealkiri h2 {
    margin-top: 2em;
    text-shadow:2px 2px 1px rgba(0, 0, 0, 0.3);
    font-weight: 400;
}
.pealkiri h5 {
    text-align: center;
}
.loginForm, .signupForm {
    text-align: center;
    margin: auto;
    width: 300px;
}
.loginForm input, .signupForm input {
    margin-bottom: 15px;
    padding: 5px 10px;
}
.button {
    background-color: #99173C;
    border-radius: 4px;
}
.button:hover {
    background-color: #2E2633;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus{
    border-bottom: 1px solid #2E2633;
    box-shadow: 0 1px 0 0 #2E2633;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
    color: #000;
}

