<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elephant</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/Stylesheet.css">
    <script src="../../models/Map.js" type="text/javascript"></script>

</head>
<body>

<h1>Where does my Elephant live?</h1>

<div id="elephantData"></div>
<div id="googleMap"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbcCUfwLZEDJOeqGm9VRfJSKeqETl40I&callback=myMap"></script>

</body>
</html>